.encabezado{
    background-color:black;
    margin: 0%;
    color: rgb(20, 150, 171);     
}
.descripcion{
    margin-left: 96px;
    margin-right: 66px;
}
body{
    background-color: gainsboro; 
}
.img{
    width: 200px;
    height: 230px;
    border-radius: 10px;
    margin-top: 10px;

}
.cuerpo{
    flex-direction: row;
    display: flex;
}
h6{
    font-weight: bold;
}
#datos{
    display: none;
}
#habil{
    display: none;
}
#idiom{
    display: none;
}
#personal{
    display: none; 
}
.datos{
    color: rgb(20, 150, 171) ;
    background-color: gainsboro;
    border: none;
    text-align: center;
    justify-content: center;    
}
.logo{
    background-color:rgb(20, 150, 171);
    margin-top: 10px;
    width: 90px;
    height: 80px;
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    
 
}
.footer{
    background-color:black;
    color: rgb(20, 150, 171);
}
.email{
    color: black;
    text-decoration: none;
}